{% extends "base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}

{% block title %}
    Symfony 5 Skeleton Project
{% endblock %}

{% block body %}
    {{ render(controller('App\\Controller\\Components\\NavbarController::show')) }}

    <div class="columns">
        <div class="column">
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <strong>Symfony 5 Skeleton Project</strong>
                        </div>
                        <div class="content">
                            <p>
                                This is a Symfony 5 skeleton project build with <a href="https://bulma.io" target="_blank">Bulma CSS framework</a>.<br>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                You can access <strong>secured content</strong> at <a href="{{ path('frontend_homepage_secured') }}">{{ path('frontend_homepage_secured') }}</a>.
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                Use this link to create a MongoDB document: <a href="{{ path('frontend_homepage_mongocreate') }}">{{ path('frontend_homepage_mongocreate') }}</a><br/>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content" id="vue-root">
                            <hello-world></hello-world>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
{% endblock %}
