{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {{ render(controller('App\\Controller\\NavbarController::show')) }}

    <div class="container">
        <form method="post">
            {% if error %}
                <div class="notification is-danger">
                    <button class="delete"></button>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {% if app.user %}
                <div class="notification is-info">
                    <button class="delete"></button>
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <div class="content">
                <h1>Please sign in</h1>
                Use user <b>admin@symfony.local</b> with password <b>adminadmin</b> to log in.
            </div>

            <div class="field">
                <label class="label" for="inputUsername">Username</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-success" id="inputUsername" type="email" name="email" placeholder="Enter a username..." value="{{ last_username }}" required autofocus>
                    <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                    <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
                </div>
            </div>

            <div class="field">
                <label class="label" for="inputPassword">Password</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-success" type="password" id="inputPassword" name="password" placeholder="Enter your password...">
                    <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                    <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" name="_remember_me">
                        Remember me
                    </label>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Sign in</button>
                </div>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </form>
    </div>

{% endblock %}
